/* css for views  */
body {
    font-size: 90%; font-family: Verdana, sans-serif;
    margin-top:  20px;
    margin-left: 20px;
    line-height: 0.9;
}

/* table layout */
table {
    width: 90%; border-collapse: collapse;
    border-width: 2px 2px 2px 2px; border-spacing: 2px; border-style: double ;
    font-size: 70%; font-family: Verdana, sans-serif;
}

caption {
    margin: 0 0 .5em; font-size: 1.3em;  text-align: left;
}

th {text-align: left ; border: 1px solid #ddd;  height: 1.5em; padding: 7px;}
td {text-align: right; border: 1px solid #ddd;  height: 1.5em; padding: 7px;}

