/* SGAS stylesheet for view pages  */

body {
    font-size: 90%;
    font-family: Verdana, sans-serif;
    margin-top:  25px;
    margin-left: 30px;
    line-height: 0.8;
}

/* table layout */
table {
    min-width: 660px;
    max-width: 95%;
    border-collapse: collapse;
    border-width: 2px 2px 2px 2px;
    border-spacing: 2px;
    border-style: double ;
    font-size: 70%;
    font-family: Verdana, sans-serif;
}

/* more table layout */
caption { margin: 0 0 .5em; font-size: 1.3em; text-align: left; }

th { text-align: left;  border: 1px solid #ddd; height: 1.5em; padding: 7px; }

td { text-align: right; border: 1px solid #ddd; height: 1.5em; padding: 7px; }

