/* css for views  */
body { font-size: 70%; font-family: Verdana, sans-serif; }

/* table layout */
table {
    width: 850px; border-collapse: collapse; margin-left: 15px;
    border-width: 2px 2px 2px 2px; border-spacing: 2px; border-style: double ;
}
caption {margin: 0 0 .5em; font-size: 1.3em;  text-align: left;   }
th {text-align: left ; border: 1px solid #ddd;  height: 1.5em; padding: 7px;}
td {text-align: right; border: 1px solid #ddd;  height: 1.5em; padding: 7px;}

